// COLORS
$color-primary: #014970;
$color-primary-light: #2ebad5;
$color-primary-dark:#014970;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-white: #FFF;
$color-black: #000;
$color-black-light:#0d0d0d;
$color-grey-light-1: #F7F7F7;
$color-primary-aqua:aqua;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;