.footer {
    height: 60vh;
    background-image: linear-gradient(to right,  #2ebad5, #014970);
    background-size: cover;
    background-position: top;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    clip-path: ellipse(78vw 100% at bottom);
    
    &-logo{
        top: 0rem;
        position: relative;
        width: 25rem;
    }

    &-content{ 
        width: 100%;
        margin-top: 50px;

        hr{
            width: 12rem;
            height: .2rem;
            background-color: $color-white;
        }

        &--title{
            font-size: 2.8rem;
            color: aqua;    
        }

    }

    &-navListItem{
        list-style: none;
        margin-top: 1rem;

        &--link{

            text-decoration: none;
            font-size: 1.3rem;
            color: $color-white;
        }
        &--icon{
            width: 3rem;
            

        }
        &--icon:nth-child(3){
            margin-left: 2rem;
        }
        &--icon:nth-child(2){
            margin-left: 2rem;
        }
    }
    &-navList--icon{
        display: flex;
        margin-top:1rem ;
        justify-content: wrap;
        list-style: none;
        
       
    }
}

.mailto:hover{
    color: #014970;
}