.about-bami{
    margin-top: 30px;
    &--title {
        font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: moveInLeft 1s ease-out;
    display: inline-block;
    background-image: linear-gradient(to right, $color-white, $color-primary-light);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    @include respond(phone){
       align-items: center;
       justify-content: center;
       width: 100%;
       text-align: center;
        animation: moveInBottom .5s ease-out;
    }
   
   
    
     }
     &-text {
        color: $color-white;
        font-size: 2rem;
        animation: moveInLeft 1s ease-out;
        @include respond(phone){
            font-size: 1.5rem;
            text-align: center;
            animation: moveInBottom .5s ease-out;
        }
        @include respond(tab-port){
            font-size: 1.7rem;
            
            animation: moveInBottom .5s ease-out;
        }
        
     }
    &--img{
        width: 50rem;
        height: 35rem;
        
        margin: 0;
        animation: moveInRight 1s ease-out;
        @include respond(phone){
            width: 35rem;
            height: 25rem;
            align-items: center;
            justify-content: center;
            max-width: 0 auto;
            left: 20%;
            animation: moveInBottom .5s ease-out;

        }
        @include respond(tab-port){
            
            width: 40rem;
            height: 25rem;
            animation: moveInBottom .5s ease-out;
        }
    
       
        padding: 0;
        border-radius: 10px ;
       
         img{
             width: 100%;
             height: 100%;
             border-radius: 25% 10%;
             box-shadow: 0 1.5rem 4rem;
         }
    }
    &-content{
       
        
    }
     

}



#second, #three, #foor, #five{
    display: none;
}