.section-about {
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-commemoration {
    margin-top: -20vh;
}
.section-sposor{
    padding: 25rem 0;
    margin-top: -20vh;
    min-height: 100vh;
    display: grid;
    place-items: center;

   
}

.section-feature {
    padding: 20rem 0;
    background-size: cover;
    background-position: top;

}
.section-news{
    padding: 20rem 0;
    background-size: cover;
    background-position: top;
}

.container {
    background-image: linear-gradient(to right, #2ebad5, #014970);
    clip-path: ellipse(115vw 50% at center);
    height: 110vh;

}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.content-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.slide {

    width: 20vw;
    height: 20vw;
    border: 1px solid $color-white;
    flex: none;
}

.slide:hover {
    transition: .4s ease-in-out;
    cursor: pointer;
    background-color: $color-white;
}

.content-box h2 {
    color: #2ebad5;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
}

.content-box--descriptif {
    width: 60%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
}